.impowerBox .title {display: none;}
.impowerBox .qrcode {
    width: 235px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #EEEEEE !important;
}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.impowerBox .status {text-align: center;}
.status_icon {display: none !important;}

 
